<mat-tab-group [(selectedIndex)]="selectedTab">
    <mat-tab label="Nuevo Requerimiento">
        <div fxLayout="row wrap">
            <app-products-search fxFlex="auto" [selectedTab]="selectedTab"></app-products-search>
            <app-inventory-requisition fxFlex="auto"></app-inventory-requisition>
          </div>
    </mat-tab>
    <mat-tab label="Consultar Requerimiento">
        <div fxLayout="row wrap">
          <app-inventory-req-search fxFlex="auto"></app-inventory-req-search>
          <app-inventory-req-details fxFlex="auto"></app-inventory-req-details>
        </div>
      </mat-tab>
  </mat-tab-group>