<div class="containerColumn">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="containerRow" fxLayoutGap="20px">

      <mat-form-field>
        <input type="text" matInput formControlName="descripcion" placeholder="Descripción">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Categoria" formControlName='categoria' required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let categoria of categorias" [value]="categoria.desc">
            {{categoria.desc}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div class="containerRow" fxLayoutGap="20px">

      <mat-form-field>
        <input type="text" matInput formControlName="cod_medida" placeholder="Medida">
      </mat-form-field>

      <mat-form-field>
        <input type="number" matInput formControlName="ref_price" placeholder="Precio">
      </mat-form-field>

      <mat-form-field>
        <div formGroupName="inventario">
          <input type="number" formControlName="cantidad" matInput placeholder="Inventario Inicial">
        </div>
      </mat-form-field>
    </div>

    <button type="submit" mat-raised-button>Guardar</button>

  </form>
</div>