<mat-tab-group [(selectedIndex)]="selectedTab" (selectedIndexChange)="createCart()">
  <mat-tab label="Consultas">
    <div fxLayout="row wrap">
      <app-sales-search fxFlex="auto"></app-sales-search>
      <app-sales-detail fxFlex="auto"></app-sales-detail>
    </div>
  </mat-tab>
  <mat-tab label="Venta">
    <div fxLayout="row wrap">
      <app-products-search fxFlex="66%" fxFlex.lt-md="auto"></app-products-search>
      <app-sales-shopping-cart fxFlex="34%" fxFlex.lt-md="auto"></app-sales-shopping-cart>
    </div>
  </mat-tab>
</mat-tab-group>