<div class="containerNav" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="mat-primary mat-elevation-z6 toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon class="nav-icon">menu</mat-icon>
    </button>
    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      opened="true">
      <mat-nav-list>
        <mat-list-item routerLink="products" routerLinkActive="active">
          <mat-icon mat-list-icon class="nav-icon">home</mat-icon>
          <div fxFlex="10"></div>
          <div class="sidebar-item">
            <h5>Productos</h5>
          </div>
        </mat-list-item>
        <mat-list-item routerLink="about" routerLinkActive="active">
          <mat-icon mat-list-icon class="nav-icon">info</mat-icon>
          <div fxFlex="10"></div>
          <div class="sidebar-item">
            <h5>About</h5>
          </div>
        </mat-list-item>
        <mat-list-item routerLink="purchases" routerLinkActive="active">
          <mat-icon mat-list-icon class="nav-icon">email</mat-icon>
          <div fxFlex="10"></div>
          <div class="sidebar-item">
            <h5>Compras</h5>
          </div>
        </mat-list-item>
        <mat-list-item routerLink="sales" routerLinkActive="active">
          <mat-icon mat-list-icon class="nav-icon">help</mat-icon>
          <div fxFlex="10"></div>
          <div class="sidebar-item">
            <h5>Ventas</h5>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <app-messages></app-messages>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>