.containerNav{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar{
  height:10vh;
  position:relative; /* relative */
  z-index:4;
} 

.sidenav-container{
  height: 90vh;
  z-index:3;
}


.sidenav{
  width: 15em;
  background-color: #0747A6;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
} 

mat-sidenav{
  position:absolute;
}

.active{
  background-color:rgba(9, 30, 66, 0.25);
}

.sidebar-item{
  color: white;
  font-size: 20px;
}


