<mat-toolbar class="mat-primary mat-elevation-z6 toolbar">
  <span>Universal</span>
  <span class="example-spacer"></span>
  <mat-icon class="example-icon">shopping cart</mat-icon>
</mat-toolbar>
<mat-sidenav-container [ngStyle]="{'height' : '100vh'}" class="sidebar-container">
  <mat-sidenav #sidebar mode="side" class="sidebar" [ngStyle]="{'width.em': sidenavWidth}" opened="true">
    <mat-nav-list>
      <mat-list-item routerLink="home" routerLinkActive="active">
        <mat-icon mat-list-icon>home</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidebar-item">
          <h5>Home</h5>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="about" routerLinkActive="active">
        <mat-icon mat-list-icon>info</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidebar-item">
          <h5>About</h5>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="contact-us" routerLinkActive="active">
        <mat-icon mat-list-icon>email</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidebar-item">
          <h5>Contact Us</h5>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="products" routerLinkActive="active">
        <mat-icon mat-list-icon>help</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidebar-item">
          <h5>Support</h5>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-primary">
      <span>Productos</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>