<mat-card>
  <mat-card-title>Checkout</mat-card-title>
  <mat-card-subtitle>{{(observableCart | async)._id}}</mat-card-subtitle>
  <mat-card-subtitle>
    ({{(observableCart | async).itemsTotal}} items)
  </mat-card-subtitle>

  <mat-card-title>Detalle</mat-card-title>
  <mat-card-subtitle *ngFor="let item of (observableCart | async).items">
    {{item.title}} : {{item.listPrice}} x {{item.qty}}
  </mat-card-subtitle>

  <mat-card-title>Total a Pagar: {{(observableCart | async).grossTotal}}</mat-card-title>
  <mat-radio-group>
    <mat-radio-button value="1">Efectivo</mat-radio-button>
    <mat-radio-button value="2" [disabled]>Tarjeta</mat-radio-button>
  </mat-radio-group>
  <input matInput placeholder="Recibí" value="0.00">
  <mat-card-subtitle>Vuelto: {{change}}</mat-card-subtitle>

  <form class="checkout-form full-width">
    <span><button mat-raised-button (click)="confirmPayment()">Confirmar Pago</button></span>
    <span><button mat-raised-button (click)="goToSales()">Checkout</button></span>
  </form>
</mat-card>