<mat-tab-group>
    <mat-tab label="Ventas">
    <div fxLayout="row">
        <div fxFlex="50" class="container">
         <app-products-search class="full-width"></app-products-search>
       </div>
     
       <div fxFlex="50" class="container">
   
         <app-sales-shopping-cart class="full-width"></app-sales-shopping-cart>
       
       </div>
     
   </div>
  </mat-tab>
  <mat-tab label="Consultas">
      <div fxLayout="row">
          <div fxFlex="50" class="container">
           
       
         </div>
       
         <div fxFlex="50" class="container">
     
            
         
         </div>
       
     </div>
    </mat-tab>
  </mat-tab-group>
  