<div class="containerColumn">
  <mat-card>
    <mat-card-title>Orden de Compra</mat-card-title>
    <mat-card-subtitle>{{(observablePO | async)._id}}</mat-card-subtitle>
  
    <mat-card-title>Detail</mat-card-title>
    <mat-card-subtitle class="detail-subtitle" *ngFor="let item of (observablePO | async).items">
      {{item.title}} : {{item.qty}}
        <button mat-icon-button (click)="removeFromPO(item.sku)">
          <mat-icon class="cart-icon" aria-label="icon-button to clear the item">clear</mat-icon>
        </button>
    </mat-card-subtitle>
  
    <form [formGroup]="pOForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput placeholder="Proveedor" formControlName="provider" >
        </mat-form-field>        
        <button mat-raised-button type="submit">Registrar Orden de Compra</button>
    </form>
  </mat-card>
  </div> 