<div>
  <mat-card>
    <mat-card-content>
      <form class="example-form" [formGroup]='billForm'>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Buscar Facturas" [matAutocomplete]="auto" formControlName='userInput'>
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSelectionChanged($event)">
          <mat-option *ngIf="isLoading" class="is-loading">
            <mat-spinner diameter="50"></mat-spinner>
          </mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let bill of filteredBills" [value]="bill">
              <span>{{ bill?.AccountingCustomerParty?.RegistrationName }}</span>
              <small> | ID: {{bill.ID}}</small>
              <small> | RUC: {{bill.AccountingCustomerParty?.ID}}</small>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </form>
    </mat-card-content>
  </mat-card>
</div>