<div class="containerColumn">
  <mat-card>
    <mat-card-title>Boleta/Factura de Compra</mat-card-title>
    <mat-card-subtitle>{{(invoice$ | async)._id}}</mat-card-subtitle>
  
    <mat-card-title>Detail</mat-card-title>
    <mat-card-subtitle class="detail-subtitle" *ngFor="let item of (invoice$ | async).items">
      {{item.title}} : {{item.qty}}
        <button mat-icon-button (click)="removeFromInvoice(item.sku)">
          <mat-icon class="cart-icon" aria-label="icon-button to clear the item">clear</mat-icon>
        </button>
    </mat-card-subtitle>
  
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput placeholder="Razón Social" formControlName="provider">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="RUC" formControlName="ruc">
      </mat-form-field>         
        <button mat-raised-button type="submit">Registrar Boleta de Compra</button>
    </form>
  </mat-card>
  </div> 