<div id="print">
  <mat-card>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div>
        <mat-card-title>
          Slick Printing Products S.R.L
        </mat-card-title>
        <mat-card-subtitle>
          Av. Los Libertadores 140 - San Martín De Porres - Lima
        </mat-card-subtitle>
      </div>
      <div>
        <mat-card-subtitle>
          {{(bill$ | async).Status?.Description}}
        </mat-card-subtitle>
      </div>
      <div>
        <mat-card-title>{{(bill$ | async).ID}}</mat-card-title>
        <mat-card-subtitle>RUC: 20537793016</mat-card-subtitle>
        <mat-card-subtitle>Factura Electrónica</mat-card-subtitle>
      </div>
    </div>

    <mat-card-content>
      <mat-card-subtitle>Detalle</mat-card-subtitle>
      <mat-table #table [dataSource]="dataSource">

        <!-- Code Column -->
        <ng-container matColumnDef="codigo">
          <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
          <mat-cell *matCellDef="let line"> {{line.Item.SellersItemIdentification.ID}} </mat-cell>
        </ng-container>

        <!-- cantidad Column -->
        <ng-container matColumnDef="cantidad">
          <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
          <mat-cell *matCellDef="let line"> {{line.InvoicedQuantity.val}} </mat-cell>
        </ng-container>

        <!-- Unit Measure Column -->
        <ng-container matColumnDef="medida">
          <mat-header-cell *matHeaderCellDef> UM </mat-header-cell>
          <mat-cell *matCellDef="let line"> {{line.InvoicedQuantity.unitCode}} </mat-cell>
        </ng-container>

        <!-- Desc Column -->
        <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
          <mat-cell *matCellDef="let line">{{line.Item.Description}}
          </mat-cell>
        </ng-container>

        <!-- Unit Price Column -->
        <ng-container matColumnDef="precio_unit">
          <mat-header-cell *matHeaderCellDef> Precio Unit. </mat-header-cell>
          <mat-cell *matCellDef="let line">{{line.PricingReference.AlternativeConditionPrice.PriceAmount |
            number:'1.2-2'}}</mat-cell>
        </ng-container>

        <!-- IGV Column -->
        <ng-container matColumnDef="IGV">
          <mat-header-cell *matHeaderCellDef>IGV</mat-header-cell>
          <mat-cell *matCellDef="let line">
            <div *ngIf="line.TaxTotal.TaxSubtotal.TaxCategory.TaxExemptionReasonCode=='10'; else noTax">
              {{(line.PricingReference.AlternativeConditionPrice.PriceAmount/1.18)*0.18 | number:'1.2-2'}}
            </div>
            <ng-template #noTax>
              0
            </ng-template>
          </mat-cell>
        </ng-container>

        <!-- Total IGV Column -->
        <ng-container matColumnDef="sum IGV">
          <mat-header-cell *matHeaderCellDef>Σ IGV</mat-header-cell>
          <mat-cell *matCellDef="let line">{{line.TaxTotal.TaxAmount | number:'1.2-2'}}</mat-cell>
        </ng-container>

        <!-- Valor Venta Column -->
        <ng-container matColumnDef="valor_v">
          <mat-header-cell *matHeaderCellDef>Valor Venta</mat-header-cell>
          <mat-cell *matCellDef="let line">
            <div *ngIf="line.TaxTotal.TaxSubtotal.TaxCategory.TaxExemptionReasonCode=='10'; else noTax_unit_v">
              {{(line.PricingReference.AlternativeConditionPrice.PriceAmount/1.18) | number:'1.2-2'}}
            </div>
            <ng-template #noTax_unit_v>
              {{line.PricingReference?.AlternativeConditionPrice.PriceAmount * line.InvoicedQuantity.val}}
            </ng-template>
          </mat-cell>
        </ng-container>

        <!-- Valor_V total Column -->
        <ng-container matColumnDef="valor_v_total">
          <mat-header-cell *matHeaderCellDef>Σ Valor Venta </mat-header-cell>
          <mat-cell *matCellDef="let line"> {{line.LineExtensionAmount | number:'1.2-2'}} </mat-cell>
        </ng-container>

        <!-- total linea -->
        <ng-container matColumnDef="total">
          <mat-header-cell *matHeaderCellDef>Total </mat-header-cell>
          <mat-cell *matCellDef="let line">
            {{line.LineExtensionAmount + line.TaxTotal.TaxAmount | number:'1.2-2'}}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card-content>

    <mat-card-content>
      <div fxLayout="row">
        <div fxLayoutGap="10px" fxFlex="50%">

          <mat-card-title>Cliente</mat-card-title>

          <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field fxFlex="40%">
              <input type="text" matInput readonly placeholder="RUC" value="{{(bill$ | async)?.AccountingCustomerParty?.ID}}">
            </mat-form-field>

            <mat-form-field fxFlex="60%">
              <input type="text" matInput readonly placeholder="Razón Social" value="{{(bill$ | async)?.AccountingCustomerParty?.RegistrationName}}">
            </mat-form-field>
          </div>
          <mat-card-title>Datos del Comprobante</mat-card-title>

          <div fxLayout="column">
            <div fxLayout="row" fxLayoutGap="10px">
              <mat-form-field>
                <input matInput readonly type="text" placeholder="F. Emisión" value="{{(bill$ | async).IssueDate | date:'dd/MM/yy'}}">
              </mat-form-field>
              <mat-form-field>
                <input matInput readonly type="number" placeholder="Cond. Pago" value="{{(bill$ | async).cond_pago}}">
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutGap="10px">
              <mat-form-field>
                <input matInput readonly type="text" placeholder="F. Vencimiento" value="{{(bill$ | async).DueDate | date: 'dd/MM/yy'}}">
              </mat-form-field>
              <mat-form-field>
                <input matInput readonly type="text" placeholder="Moneda" value="{{(bill$ | async).DocumentCurrencyCode}}">
              </mat-form-field>
              <mat-form-field>
                <input matInput readonly type="number" placeholder="Descuento %" value="{{(bill$ | async).AllowanceCharge?.MultiplierFactorNumeric}}">
              </mat-form-field>
            </div>
          </div>


        </div>
        <div fxLayout="row" fxLayoutGap="10px" fxFlex="50%" fxLayoutAlign="end">
          <div fxLayout="column">
            <mat-form-field>
              <input matInput readonly type="text" placeholder="Op.Gravadas" value="{{(bill$ | async)?.sumValues?.totalOperacionesGravadas | number:'1.2-2'}}">
            </mat-form-field>
            <mat-form-field>
              <input matInput readonly type="text" placeholder="Op.Inafectas" value="{{(bill$ | async)?.sumValues?.totalOperacionesInafectas | number:'1.2-2' }}">
            </mat-form-field>
            <mat-form-field>
              <input matInput readonly type="text" placeholder="Op.Exoneradas" value="{{(bill$ | async).sumValues?.totalOperacionesExoneradas | number:'1.2-2'}}">
            </mat-form-field>
            <mat-form-field>
              <input matInput readonly type="text" placeholder="Op.Gratuitas" value="{{(bill$ | async).sumValues?.totalOperacionesGratuitas | number:'1.2-2'}}">
            </mat-form-field>
          </div>
          <div fxLayout="column">
            <mat-form-field>
              <input matInput readonly type="text" placeholder="Otros Tributos" value="{{(bill$ | async)?.otros_trib | number:'1.2-2'}}">
            </mat-form-field>
            <mat-form-field>
              <input matInput readonly type="text" placeholder="Descuento" value="{{(bill$ | async)?.sumValues?.totalDescuentos | number:'1.2-2'}}">
            </mat-form-field>
            <mat-form-field>
              <input matInput readonly type="text" placeholder="IGV 18%" value="{{(bill$ | async).sumValues?.sumIGV | number:'1.2-2'}}">
            </mat-form-field>
            <mat-form-field>
              <input matInput readonly type="text" placeholder="Total" value="{{(bill$ | async)?.sumValues?.total | number:'1.2-2'}}">
            </mat-form-field>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>