.cart-icon{
    color:grey;
}

.detail-subtitle{
    margin-bottom: 0px;
}

.mat-table {
    overflow: auto;
    max-height: 750px;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-column-descripcion {
    flex: 0 0 300px;
}