<div class="containerColumn" fxLayout="column" fxLayoutGap="20px" >
  <mat-card>
    <mat-card-title>Consulta Compras</mat-card-title>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field>
          <input type="search" matInput placeholder="Invoice" formControlName="string" (keyup.enter)="onSubmit()">
        </mat-form-field>
        <mat-form-field>
            <input type="search" matInput placeholder="Provider" formControlName="provider" (keyup.enter)="onSubmit()">
          </mat-form-field>
      </div>
      <div>
        <label>Fecha</label>
        <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="Desde" formControlName="date1">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="Hasta" formControlName="date2">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
    </form>
  </mat-card>
  
  <app-purchasing-search-results [invoices]='invoices'></app-purchasing-search-results>
  
  </div>