@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

div.containerColumn{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

div.containerRow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /**To add spacing in between elements, angularFlexLayout: fxLayoutGap*/
}

mat-form-field{
  flex: auto;
}

.nav-icon{
  color: white;
}

.example-icon {
  padding: 0 14px;
}


/**  Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license */