<div class="containerColumn">
<mat-card>
  <mat-card-title>Shopping Cart</mat-card-title>
  <mat-card-subtitle>{{(observableCart | async)._id}}</mat-card-subtitle>
  <mat-card-subtitle>
    Sub Total ({{(observableCart | async).itemsTotal}} items):
    <!--<span class="text--red text--bold js-cart-total">{{(observableCart | async).grossTotal | currency:'PEN':true}}</span> -->
    <span class="text--red text--bold js-cart-total">{{(observableCart | async).grossTotal}}</span>
  </mat-card-subtitle>

  <mat-card-title>Detail</mat-card-title>
  <mat-card-subtitle *ngFor="let item of (observableCart | async).items">
    {{item.title}} : {{item.listPrice}} x {{item.qty}}
    <span>
      <button mat-icon-button (click)="deltaOne(item.sku, 'add')">
        <mat-icon aria-label="icon-button to add +1 item">add</mat-icon>
      </button>
    </span>
    <span>
      <button mat-icon-button (click)="deltaOne(item.sku, 'substract')">
        <mat-icon aria-label="icon-button to substract -1 item">remove</mat-icon>
      </button>
    </span>
    <span>
      <button mat-icon-button (click)="removeFromCart(item.sku)">
        <mat-icon aria-label="icon-button to clear the item">clear</mat-icon>
      </button>
    </span>
  </mat-card-subtitle>

  <form>
      <button mat-raised-button (click)="goToCheckout()">Checkout</button>
  </form>
</mat-card>
</div> 